Kreyszig[[:space:]]-[[:space:]]Introductory[[:space:]]Functional[[:space:]]Analysis[[:space:]]with[[:space:]]Applications[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
